.img-me {
    height: 20px;
    width: 20px;
}
.bg-web{
    background-color: #3BB44A;
}
.bg-vang{
    background-color:#c7c7c7 ;
}
#text-white p{
    color: white !important;
}
#text-white p span{
    color: white !important;
}
.limit-text-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    list-style: none !important;
}
.limit-text-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-height: 20px;
    
    line-clamp: 4;
    -webkit-box-orient: vertical;
    list-style: none !important;
}