.img-me {
    height: 40px;
    width: 40px;
}
.bg-web{
    background-color: #f4b033;
}
.bg-vang{
    background-color:#f4f5f7 ;
}
.goog-te-gadget .goog-te-combo {
    margin: 4px 0;
    transform: translateY(10px);
}
#text-white p{
    color: white !important;
}
.goog-te-gadget .goog-te-combo {
    margin: 4px 0;
    color: black !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
    font-size: 12px;
    font-weight: bold;
    display: none !important;
    color: #444;
    text-decoration: none;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    left: 0;
    top: 0;
    height: 39px;
    width: 100%;
    display: none;
    z-index: 10000001;
    position: fixed;
    border: none;
    border-bottom: 1px solid #6B90DA;
    margin: 0;
    box-shadow: 0 0 8px 1px #999;
}
#text-white p span{
    color: white !important;
}
.logo-bot{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 10px;
    max-width: 74%;
}
.limit-text-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    list-style: none !important;
}
.limit-text-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-height: 20px;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    list-style: none !important;
}
div#xemthem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif !important;
}
#xemthem button {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif !important;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    /* box-shadow: hsl(127.44deg 53.65% 23.06%) 0px 7px 0px 0px; */
    background-color: #f4b033;
    border-radius: 5px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
   #xemthem button:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
   }
   
   #xemthem button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   
   #xemthem button:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   
   #xemthem button i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
   }
   
   #xemthem button:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   
   #xemthem button:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   
   #xemthem button:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   
   #xemthem button:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   
   #xemthem button:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   
   #xemthem button:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
   }
   
   #xemthem button:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
   }
   
   #xemthem button:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
   }
   
   #xemthem button:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
   }
   
   #xemthem button:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
   }
/* tieudechay */
.tieudechay{
    position: relative;
    margin: auto;
    width: 184px;
    line-height: 64px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'FontAwesome';
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    border: 2px solid #307f2e;
    border-radius: 10px;
    background: #307f2e;
    transition: all .3s;
    margin-bottom: 50px;
    /* padding-bottom: 10px; */
    cursor: pointer;
}
    .tieudechay:hover {
        filter: contrast(1.1);
    }
    
    .tieudechay:active {
        filter: contrast(0.9);
    }
    
    .tieudechay::before,
    .tieudechay::after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 2px solid #307f2e;
        transition: all .5s;
        animation: clippath 3s infinite linear;
        border-radius: 10px;
    }
    
    .tieudechay::after {
        animation: clippath 3s infinite -1.5s linear;
    }

*{
    font-family: 'Segoe UI', sans-serif;
}
@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}

.bg::before {
    background: rgba(255, 215, 0, .5);
}
.giohang_header img {
    transform: rotate(90deg);
}
.custom-btn-numbers {
    float: left;
    box-shadow: none;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #6c6c79;
    min-height: unset;
    width: auto;
    background-color: transparent;
    height: auto
}

.custom-btn-numbers .btn-cts {
    font-size: 20px;
    line-height: 0px;
    border: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #fff;
    float:left;
    color: rgb(27, 7, 7);
    text-align: center;
    padding: 0px;
    border-radius: 0;
    cursor: pointer;
}

.custom-btn-numbers .btn-cts.btn-minus {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px
}
img.js-img.position-absolute {
    width: 200px;
}
.flex-gio{
    display: flex;
}
.quantity-cus {
    width: 22px;
    padding: 1px;
}
.button.add_to_cart.custom-add {
    background-color: #b90000;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    margin-left: 10px;
    padding: 8px;
}
.button.add_to_cart.custom-add:hover{
    background-color: #ff0000;
    transform: scale(0.9);
    transition: all 1s;
}
.custom-btn-numbers .btn-cts.btn-plus {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px
}
.custom-btn-numbers .btn-cts.btn-plus:active{
    background-color: orangered;
    color: bisque;
}
.custom-btn-numbers .btn-cts.btn-minus:active{
    background-color: orangered;
    color: bisque;
}
.motaf p {
    color: white !important;
}
body{
    overflow-x: hidden !important;
}
@media only screen and (max-width: 768px){
    .title_about .h3 span:before {
        position: absolute;
        width: 100px;
        top: 18px;
        right: -150px;
        height: 2px;
        background: #307f2e;
        content: '';
        display: none !important;
    }
}
.custom-btn-numbers #qty {
    height: 35px;
    font-size: 1em;
    margin: 0;
    width: 35px;
    padding: 0 2px;
    text-align: center;
    background: #fff;
    min-height: unset;
    display: block;
    float: left;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    user-select:none !important;
}